################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlansAndDreams/PlansAndDreams.Core/obj/Debug/PlansAndDreams.Core.csprojResolveAssemblyReference.cache
